image: 192.168.179.44:5000/hyperdata8.3_virtualization:20211210_v1

db:
  address: tiberolocaldns
  mountPath: /db
  port: 8629
  sid: tibero

pvc:
  name: tibero-pvc-db
  mountPath: /db

resources:
  cpu: 2
  memory: 4Gi

proauth:
  address: http://hyperdata-lb-hd:28080

hyperdata:
  address: http://hyperdata-svc-hd
  port: 8080

loadBalancer:
  enabled: true
  ip: 192.168.179.42 #하이퍼데이터 로드밸런서 ip랑 같아야 함
  extport: 8500

logging:
  path: virtualization/logs